h3 {
    color: var(--primary-color);
}

.carousel-container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.img-container img,
.img-container video {
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
}

.carousel-caption {
    position: initial;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--primary-color);
    text-align: center;
}
.carousel-indicators {
    z-index: 0;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    opacity: 1;
}
.carousel-control-next svg,
.carousel-control-prev svg {
    height: 100%;
}
.carousel-control-next,
.carousel-control-prev {
    mix-blend-mode: plus-lighter;
    -webkit-mix-blend-mode: plus-lighter;
    height: calc(100% - 56px);
    right: 0;
    cursor: none;
    opacity: 0;
}
.carousel-inner {
    aspect-ratio: 16/9;
}

.carousel-item {
    transition: transform 1s ease !important;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: var(--primary-color);
    cursor: none;
}

.atelier-container .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: white;
    cursor: none;
}

@media screen and (max-width: 1200px) {
    .carousel-container {
        width: auto;
    }
}
