h3 {
    color: #006eff;
}

.carousel-container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    width: 80vw;
}

.carousel-inner {
    position: relative;
    width: 65%;
    overflow: hidden;
}

.img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-container {
    height: 30vw;
}

.carousel-caption {
    position: initial;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #006eff;
    text-align: center;
}

.carousel-control-next,
.carousel-control-prev {
    right: 0;
    height: 30vw;
    cursor: none;
}

.carousel-item {
    transition: transform 1s ease !important;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #006eff;
    cursor: none;
}
