.index-params {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 40px 0 40px;
    grid-gap: 40px;
    margin-top: 10px;
    padding-bottom: 30px;
}

.index-wrapper {
    margin-bottom: -12px;
    padding: 0;
}

.index-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    padding: 12px 40px 0 40px;
    /* background-color: #f8f8f8; */
    border-top: solid 1px #006eff;
}

.index-item-year {
    display: grid;
    justify-items: end;
}

ul.index-items {
    margin: -10px 0 0 0;
    padding: 0;
}

.images {
    padding-left: 40px;
}

.index-item-pics {
    padding: 5px;
    width: 250px;
    height: 150px;
    object-fit: cover;
}

.index-item-pics img {
    width: 100%;
    height: 100%;
}

.text-image-grid {
    display: grid;
    padding: 10px 20px 10px 20px;
    grid-gap: 40px;
    transition: all 0.2s ease-in-out;
}

.text-image-grid.active {
    grid-template-columns: repeat(3, 1fr);
}

.image-grid {
    grid-column: 2/4;
}
.text-grid {
    grid-column: 1/2;
}

.image-container {
    position: absolute;
    right: 0;
    top: 0;
}

.image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-module {
    margin-top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
}

.backgrd {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
}

@media screen and (max-width: 1200px) {
    .text-image-grid.active {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 800px) {
        .index {
            margin-top: 10px;
        }
        .text-image-grid.active {
            display: block;
        }
        .index-item {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 0;
            padding: 20px 40px 0 40px;
        }
        .index-item-year {
            display: grid;
            justify-items: end;
        }
        .index-item-project {
            display: grid;
            justify-items: center;
            text-align: center;
        }
        .index-params {
            display: none;
            padding: 10px 40px 0 40px;
            margin-top: 10px;
        }
        .index-item-pics {
            padding: 5px 10px 5px 0;
        }
    }
}
