h2 {
    font-size: 2.8rem;
    color: #006eff;
    margin-bottom: 2rem;
    line-height: 1.1;
}

.text-module {
    padding: 0px 40px 80px 40px;
}

.info-text {
    position: absolute;
    text-align: justify;
    text-align-last: center;
    font-size: 6vw;
    padding: 0;
    margin-top: -20px;
    z-index: -1;
    opacity: 0.1;
    padding: 0 40px;
}
.atelier-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.atelier-img {
    position: fixed;
    right: 0;
    top: 0;
}

.back p {
    position: absolute;
    z-index: 0;
}
.back {
    height: 80vh;
    width: 100vw;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    background-color: #f8f8f8;
}

@media screen and (max-width: 1200px) {
    h2 {
        font-size: 1rem;
        line-height: 1.4rem;
    }
}

@media screen and (max-width: 800px) {
    .text-module {
        padding: 40px 40px 80px 40px;
    }
}
