h1 {
    /* text-align: center; */
    color: #006eff;
    font-size: 2.2rem;
    /* font-weight: 100; */
    padding-top: 80px;
    text-align: center;
    margin-top: 10px;
}

.text-module {
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    z-index: 0;
}

.info-text {
    position: absolute;
    text-align: justify;
    font-size: 6vw;
    padding: 0;
    line-height: 1;
    margin-top: -20px;
    z-index: -1;
    opacity: 0.1;
}

.text-container {
    background-color: #f8f8f8;
    /* color: white; */
    box-sizing: content-box;
    overflow: scroll;
    position: absolute;
    padding: 54px 0 0px 0px;
    right: 0;
    top: 0;
}

.hero-container-atelier {
    /* background: url("../../public/site.jpg") center center/cover no-repeat; */
    height: 94vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    z-index: -2;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 1.2rem;
    }
    .info-text {
        margin-top: 0;
    }
}

@media screen and (max-width: 800px) {
    .info-text {
        margin-top: 0;
        font-size: 8vw;
    }
}
