.btn {
    cursor: none !important;
}

.btn--outline {
    background-color: transparent;
    padding: 8px 20px;
    border: 1px solid #006eff;
    transition: all 0.5s ease-out;
}

.btn--medium {
    padding: 5px 15px;
    font-size: 1rem;
}
