.contact-pic {
    width: 30vw;
    height: 20vw;
    object-fit: cover;
    object-position: top;
}

.image-container {
    position: absolute;
    right: 0;
    top: 0;
}

.image-container img {
    object-position: top;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-module-contact {
    margin-top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 40px 80px 40px;
    gap: 50px;
}

.category-title {
    padding: 30px 40px 0px 40px;
}

@media screen and (max-width: 1200px) {
    .contact-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contact-pic {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

@media screen and (max-width: 800px) {
    .contact-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact-pic {
        width: 100%;
        height: 50vw;
        object-fit: cover;
    }
}
