.contact-pic {
    width: 30vw;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    opacity: 0.9;
    transition: all 0.2s ease-in-out;
}

img.contact-pic:hover {
    opacity: 1;
}

.img-module-contact {
    margin-top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 65px 20px 60px 20px;
    gap: 50px;
}

.privacy-grid {
    padding: 45px 20px 80px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.category-title {
    padding: 30px 40px 0px 40px;
}

@media screen and (max-width: 1200px) {
    .privacy-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contact-pic {
        width: 100%;
        height: auto;
        object-fit: cover;
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    .contact-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact-pic {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
    }
}
