h3.title-text {
    margin-bottom: 0;
}

.residences-pic {
    width: 100%;
    object-fit: cover;
}

img.residences-pic {
    aspect-ratio: 16/9;
}

.events-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 65px 20px 80px 20px;
    gap: 20px;
    /* background-color: var(--secondary-color); */
}

.readmore p {
    margin-top: -15px;
    font-family: "Graphikmedium", Fallback, sans-serif;
}

.event-text p {
    padding-bottom: 10px;
}

.title-text {
    padding-top: 1.25rem;
}
.description-text {
    padding-top: 0;
}

.category-title {
    padding: 30px 40px 0px 40px;
}

@media screen and (max-width: 1200px) {
    .events-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .events-grid {
        gap: 30px;
    }
    .residences-pic {
        width: 100% !important;
        height: 30vw !important;
        object-fit: cover;
    }
}

@media screen and (max-width: 1000px) {
    .events-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .residences-pic {
        width: 100% !important;
        height: 50vw !important;
        object-fit: cover;
    }
}
