.footer-container {
    border-top: 3px solid #006eff;
    padding: 2rem 40px 2rem 40px;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.footer-subscription {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 24px;
    color: #006eff;
}

.footer-subscription-heading {
    margin-bottom: 24px;
    font-size: 1rem;
}

.footer-subscription-text {
    margin-bottom: 24px;
    font-size: 1rem;
}

.footer-input {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 1rem;
    margin-bottom: 16px;
    border: 1px solid #006eff;
}

.footer-links {
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer-link-wrapper {
    display: flex;
}

.footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px auto 0 auto;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

p {
    color: #006eff;
    font-size: 1rem;
}

.footer-link-items a {
    color: #006eff;
    text-decoration: none;
    /* margin-bottom: 0.5rem; */
}

.footer-link-items a:hover {
    color: #006eff;
    transition: 0.3s ease-out;
}

.footer-email-form h2 {
    margin-bottom: 2rem;
}

.footer-input::placeholder {
    color: #006eff40;
}

/* Social Icons */
.social-icon-link {
    color: #006eff;
    font-size: 1rem;
}

.contact {
    max-width: 1000px;
    width: 100%;
    text-align: right;
}

.contact-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 0 0 0 auto;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social-logo {
    color: #006eff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website-rights {
    color: #006eff;
    margin-bottom: 16px;
}

@media screen and (max-width: 820px) {
    .contact-wrap {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 1000px;
        margin: 0 0 0 auto;
        align-items: center;
    }

    .footer-container {
        padding: 2rem 0 2rem 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-subscription {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        width: 50%;
        align-items: center;
    }
    .footer-links {
        display: none;
    }

    .footer-input {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .footer-link-wrapper {
        display: none;
    }

    .social-media-wrap {
        flex-direction: column;
    }
    .website-rights {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
}
