.logo-container {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 67px;
}

.logo-container img {
    object-fit: contain;
    object-position: bottom left;
    width: 100%;
    height: 100%;
    opacity: 1;
    bottom: 2px;
    position: absolute;
}

.home-module {
    /* top: 80px; */
    margin-top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    z-index: 0;
    pointer-events: none;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

@media screen and (max-width: 800px) {
    .hero-container {
        height: 100%;
        width: 100%;
        justify-content: normal;
        pointer-events: none;
    }
    .logo-container {
        margin-top: 0px;
    }
}
