h2 {
    font-size: 2.2rem;
    color: #006eff;
    font-weight: 100;
}

h6 {
    color: #006eff;
    opacity: 0.8;
    font-size: 1rem;
}

.residences-pic {
    width: 30vw;
    height: 300px;
    object-fit: cover;
}

.residences-pic img {
    width: 100%;
    height: 100%;
}

.image-container {
    position: absolute;
    right: 0;
    top: 0;
}

.image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* .close-imgcontainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #006eff;
} */

.img-module {
    /* top: 80px; */
    margin-top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    z-index: 0;
}

h6.sticky-text {
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 10px;
    margin-top: -40px;
    border-top: solid 3px;
    opacity: 1;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 40px 80px 40px;
    gap: 10px;
}

.category-title {
    padding: 30px 40px 0px 40px;
}
