@font-face {
    font-family: "Graphik";
    src: url("../public/Graphik-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Graphikmedium";
    src: url("../public/Graphik-Medium.otf") format("opentype");
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: none;
    color: #006eff;
}
body::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

a:hover {
    text-decoration: none;
    color: #006eff;
}

body {
    font-family: "Graphik", Fallback, sans-serif;
}

h3 {
    font-size: 1.4rem;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hand {
    stroke: #006eff;
    stroke-width: 3;
    stroke-linecap: round;
}

#canvas {
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    pointer-events: none;
    z-index: 10;
}
.policy h1 {
    text-align: left;
}

footer {
    margin-top: auto;
    z-index: 1;
}
@media screen and (max-width: 1200px) {
    h3 {
        font-size: 1rem;
    }
}
