@font-face {
    font-family: Graphik;
    src: url("../public/Graphik-Regular.otf") format("opentype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Graphik;
    cursor: none;
    /* font-family: "PT Sans", sans-serif; */
}

.hand {
    stroke: #006eff;
    stroke-width: 3;
    stroke-linecap: round;
}

#canvas {
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    pointer-events: none;
    z-index: 10;
}

/* .home {
    min-height: 94vh;
    background-image: url("../public/site.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
} */

.atelier {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    align-content: flex-start;
    align-items: flex-start;
}
